* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

.hidden { display: none; }

html, body { height: 100% }

body { 
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color: rgb(20, 0, 0);
  text-align: center;

  background-color: rgba(255, 255, 255, 0.75);
  background-image: url('../img/characterBuildImages/noise.jpg');
  background-repeat: repeat;
  background-blend-mode: overlay;
}

/*style the header*/
header {
    position: sticky;
    top: 0;
    text-align: center;

    background-color: rgb(255, 255, 255, 0.9);
    background-image: url('../img/characterBuildImages/noise.jpg');
    background-blend-mode: overlay;
}

#main-logo {width: 350px; padding: 5px 0;}

/*main section styles*/
#character-nav { 
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    /*add bg image to nav*/
    background-image: url("../img/characterBuildImages/omori-background.png");
    background-blend-mode: overlay;
}

.characters { list-style-type: none; }

.characters li { 
    display: inline-block; 
    height: 200px;
    margin: 10px 8px;

    background-color:rgb(52, 0, 116); 
    text-align: left;
    overflow: hidden;

}

.characters li h5 {
    padding: 12px 8px;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: medium;
    text-align: center;
}

.characters li a {text-decoration: none;}

.characters li img {width: 150px; cursor: pointer; }

.omori {
    width: 150px;
    height: 150px;

    background-image: url('../img/characterBuildImages/omori1.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.omori:hover {
    background-image: url('../img/characterBuildImages/omori2.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.kel {
    width: 150px;
    height: 150px;

    background-image: url('../img/characterBuildImages/kel1.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.kel:hover {
    background-image: url('../img/characterBuildImages/kel2.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.aubrey {
    width: 150px;
    height: 150px;

    background-image: url('../img/characterBuildImages/aubrey1.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.aubrey:hover {
    background-image: url('../img/characterBuildImages/aubrey2.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.hero {
    width: 150px;
    height: 150px;

    background-image: url('../img/characterBuildImages/hero1.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.hero:hover {
    background-image: url('../img/characterBuildImages/hero2.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.basil {
    width: 150px;
    height: 150px;

    background-image: url('../img/characterBuildImages/basil1.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.basil:hover {
    background-image: url('../img/characterBuildImages/basil2.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.mari {
    width: 150px;
    height: 150px;

    background-image: url('../img/characterBuildImages/mari1.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.mari:hover {
    background-image: url('../img/characterBuildImages/mari2.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.bumper {height: 6px; background-color: rgb(207, 172, 255);}

article {padding: 20px;}

article h3 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 14px;
}

article p {
    width: 80%;
    font-size: 18px;
    line-height: 1.2;
    text-align: inherit;
    margin: 0 auto;
}


/*style the footer*/
footer {
    color:white;
    padding: 20px 0;
    text-align: center;
}

.sticky_footer {
    position: sticky;
    top:100%;

    height: 60px;
    background-color: rgb(40, 37, 37);
}

#stickyfoot {
    font-size: smaller;
}

/*lightbox styles*/
.lightbox {
    display: none;
    width: 100vw; /*viewport width = width of browser window*/
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.85);
    background-repeat: no-repeat;
    background-position: 40px bottom;
    background-size: contain;
}

.lb_close {
    color: white;
    font-size: 2em;

    text-decoration: none;

    position:fixed;
    top: 20px;
    left: 95%;
    font-weight: bolder;
}

.lb_close_blk {
    color: rgb(0, 0, 0);
    font-size: 2em;

    text-decoration: none;

    position:fixed;
    top: 20px;
    left: 95%;
    font-weight: bolder;
}

.lb_close:hover {opacity: 0.5;}

.lightbox article {
    width: 55%;
    margin-left: 40%;
    padding-top: 50px;
}

.lb_heading {
    text-align: left;
    font-family: 'Garamond', serif;
    font-size: xxx-large;
}

.lb_text {
    text-align: left;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: x-large;
    line-height: 1.8;
    margin-left: 0;
    padding-top: 2em;
}

#lightbox {
    background-image: url('../img/characterBuildImages/sunny-lb.png');
    background-position: 15%;
    background-color: rgb(255, 255, 255, 0.85);
    color: black;
}

#lightbox2 {
    background-image: url('../img/characterBuildImages/kel-lb.png');
    background-position: 15%;
    background-color: rgba(255, 119, 0, 0.85);
    color: white;
}

#lightbox3 {
    background-image: url('../img/characterBuildImages/aubrey-lb.png');
    background-position: 15%;
    background-color: rgba(255, 105, 245, 0.85);
    color: white;
}

#lightbox4 {
    background-image: url('../img/characterBuildImages/hero-lb.png');
    background-position: 15%;
    background-color: rgba(134, 101, 78, 0.85);
    color: white;
}

#lightbox5 {
    background-image: url('../img/characterBuildImages/basil-lb.png');
    background-position: 15%;
    background-color: rgba(133, 199, 138, 0.85);
}

#lightbox6 {
    background-image: url('../img/characterBuildImages/mari-lb.png');
    background-position: 15%;
    background-color: black;
    color: rgb(178, 0, 0);
}

/*toggle lightbox on*/
.lightbox:target {display: block;}